@model IEnumerable<PedidosApp.Models.ArticuloModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card shadow mb-4 custom-card">
    <div class="card-header py-3 d-flex justify-content-between align-items-center">
        <h6 class="m-0 font-weight-bold text-primary">Artículos</h6>
        <a class='btn btn-primary btn-sm' asp-action="Create">Nuevo Artículo</a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTableArticulos" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>@Html.DisplayNameFor(model => model.Nombre)</th>
                        <th>@Html.DisplayNameFor(model => model.Descripcion)</th>
                        <th>@Html.DisplayNameFor(model => model.Activo)</th>
                        <th>Rubro</th>
                        <th>@Html.DisplayNameFor(model => model.Precio.Precio)</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Id_Articulo)</td>
                            <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                            <td>@Html.DisplayFor(modelItem => item.Descripcion)</td>
                            <td>@Html.DisplayFor(modelItem => item.Activo)</td>
                            <td>@Html.DisplayFor(modelItem => item.Rubro.Nombre)</td>
                            <td>@Html.DisplayFor(modelItem => item.Precio.Precio)</td>
                            <td>
                                <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@item.Id_Articulo">Editar</a>
                                <a class="btn btn-sm btn-info" asp-action="Details" asp-route-id="@item.Id_Articulo">Detalles</a>
                                <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Id_Articulo">Eliminar</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#dataTableArticulos').DataTable({
                "paging": true,
                "info": false,
                "searching": true,
                "lengthChange": true 
            });
        });
    </script>
}