@model IEnumerable<PedidosApp.Models.ArticuloModel>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout3";
}
<link href="~/css/home/styleshome.css" rel="stylesheet" />
<link href="~/css/home/stylescarritohome.css" rel="stylesheet" />

<!DOCTYPE html>
<html>
<head>
    <title>Pedidos APP</title>
</head>
<body>

    <h1 class="titulo-menu">Menú de Pedido</h1>

    <section class="container--section">
        <h2 class="">Promociones</h2>
        <div class="container">
            @foreach (var item in Model)
            {
                <a onclick="addToCart(@item.Id_Articulo, '@item.Nombre', @item.Precio.Precio)">
                    <div class="card" id="card-@item.Id_Articulo">
                        <div class="card-content">
                            <h3>@item.Nombre</h3>
                            <div class="mcd-store-menu-category-item__title mcd-store-menu-category-item__title--is-clamped">@item.Descripcion</div>
                            <div class="mcd-store-menu-category-item__calories">$@item.Precio.Precio.ToString("0.00")</div>
                        </div>
                        <div class="card-image">
                            <img src="@item.Url_Imagen" alt="Imagen" class="image-art" data-url="@item.Url_Imagen">
                        </div>
                    </div>
                </a>
            }
        </div>
    </section>

    <!-- Modal de Carrito -->
    <div id="cartModal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Carrito de Compras</h2>
                <span class="close" id="closeModal">&times;</span>
            </div>
            <div class="modal-body">
                <div id="cartItems"></div>
            </div>
            <div class="modal-footer">
                <h3 id ="totalAmount">Total: $0.00</h3>
            </div>
        </div>
    </div>

    <!-- Botón de Carrito -->
    <button class="cart-button" id="cartButton">🛒<span id="cartCount" class="cart-count">0</span></button>

</body>
</html>

@section Scripts{
    <script src="~/js/carritoscript.js"></script>
}